.grandparent{
    background: red;
    height: auto;  
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.parent{
    background: green; 
    height: auto   ;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.child{
    text-align: center;
    background: blue;
    height: 50px;
    margin: 20px;
    padding: 20px;
}